:root {
  --color: blue;
}

* {
  padding: 0;
  margin:0;

  box-sizing: border-box;
}

body, html, #root {
  width: 100%;
  height: 100%;
}

body {
  background-color: gainsboro;
}

/* Classes */

.App {

  position: relative;

  height:70%;
  width: 70%;

  margin: auto;

  transform: translateY(-50%);
  top: 50%;
}

.killCounter {
  display: flex;
  font-size: 3rem;
  align-items: center;
}
.killCounter span {
  display: block;

  width: 4rem;
  height: 4rem;

  text-align: center;
  align-content: center;


  margin: 0 .4rem;
  /*padding: .4rem;*/

  background-color: darkcyan;

  border-radius: 10%;
}
.killCounter svg {
  margin: .2rem;
}
.killCounter svg:hover {
  color: white;
  cursor: pointer;
}

.player-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40rem;

  margin: 1rem auto;
  padding: .5rem;

  border: darkcyan 4px solid;

  background-color: cadetblue;
}

.player-details {
  display: flex;
  flex-direction: column;
}

.player-image {
  height: 5rem;
  width: 5rem;

  margin-right: .5rem;
  border: darkcyan solid 4px;
}

.player-info {
  display: flex;
  /*flex-direction: column;*/
}
